.header-text {
  color: var(--tea-green);
  font-weight: 700;
}

.img-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 600px;
  background-image: url("https://i.ytimg.com/vi/aiU22lKiZbA/maxresdefault.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  color: var(--tea-green);
  font-size: 6rem;
}

#store-items {
  min-height: 50vh;
}

/* 
 * Categories Menu
 */
.dropbtn:hover,
.dropbtn:focus {
  background-color: var(--smith-apple);
}

.dropdown:hover #menu {
  display: block;
}

.menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* 
 * Tour/Item styles
 */

.item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--blue);
}

.item-row:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 30vh;
  min-height: 450px;
}

.item-image {
  height: 260px;
  width: 260px;
  border-radius: 6px;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 50vw;
  padding-left: 60px;
  padding-right: 60px;
}

.button-row {
  display: flex;
  width: 30vw;
  justify-content: space-around;
}

.counter-container {
  display: flex;
  width: 80px;
  align-items: center;
  justify-content: space-around;
}

.add-button {
  flex: 1;
  background-color: var(--komaru);
  font-size: 1.1rem;
  max-width: 140px;
}

.add-button:hover {
  background-color: var(--smith-apple);
  color: var(--komaru);
}

.small-button {
  background-color: white;
  color: var(--blue);
  width: 25px;
  height: 25px;
}
